<?xml version="1.0" encoding="utf-8"?>
<manifest package="cz.jaro.alarmmorning"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".AlarmMorningActivity"
            android:label="@string/app_name"> <!-- Use application name in the main activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ring"
            android:launchMode="singleInstance"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".DefaultsActivity"
            android:label="@string/title_activity_defaults"
            android:parentActivityName=".AlarmMorningActivity">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".AlarmMorningActivity">
        </activity>
        <activity
            android:name=".wizard.Wizard"
            android:label="@string/title_activity_wizard">
        </activity>
        <activity
            android:name=".checkalarmtime.SetTimeActivity"
            android:theme="@style/TransparentTheme">
        </activity>

        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <receiver android:name=".receivers.AlarmReceiver"/>
        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.TimeZoneChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.NotificationReceiver">
        </receiver>
        <receiver android:name=".checkalarmtime.CheckAlarmTimeAlarmReceiver">
        </receiver>
        <receiver android:name=".checkalarmtime.CheckAlarmTimeNotificationReceiver">
        </receiver>
        <receiver android:name=".nighttimebell.NighttimeBellAlarmReceiver">
        </receiver>
    </application>
</manifest>
